public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*webpack*
public-hoist-pattern[]=*loader*
public-hoist-pattern[]=favicons*
public-hoist-pattern[]=mini-css-extract-plugin
public-hoist-pattern[]=imagemin*
public-hoist-pattern[]=sass
public-hoist-pattern[]=postcss*
public-hoist-pattern[]=typescript
public-hoist-pattern[]=@tsconfig/recommended
