<!DOCTYPE html>
<html>
    <head>
        <title>Zoom Room Scheduler</title>
    </head>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 10pt;
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            grid-template-rows: 1fr auto 1.618fr;
            height: 100vh;
        }
        
        #content {
            grid-row: 2;
            grid-column: 2;
        }
    
        form {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 1em;
        }
        
        #blocks-grid {
            display: grid;
            grid-template-columns: auto auto 1fr;
            gap: 0.5em;
        }
        
        .test {
            position: absolute;
            color: hsla(0, 0%, 0%, 0);
            white-space: nowrap;
        }
    </style>
    <body>
        <div id="content">
            <h1>Schedule Zoom Room</h1>
            <form id="form" action="<?= $_SERVER['PHP_SELF'] ?>" method="post">
                <label>Faculty Schedule URL</label>
                <input name="schedule_url" type="url" />
                
                <label>Start</label>
                <input name="start" type="date" />
                
                <label>End Extraction</label>
                <input name="end_extract" type="date" />
                
                <label>End Schedule</label>
                <input name="end_schedule" type="date" />
                
                <label>Blocks</label>
                <div id="blocks-grid">
                    <span></span>
                    <span></span>
                    <label>Zoom Room URL</label>
                    
                    <label>Red</label>
                    <input name="blocks[]" type="checkbox" value="RD"/>
                    <input name="zoom_urls[]" type="url" disabled />
    
                    <label>Orange</label>
                    <input name="blocks[]" type="checkbox" value="OR"/>
                    <input name="zoom_urls[]" type="url" disabled />
    
                    <label>Yellow</label>
                    <input name="blocks[]" type="checkbox" value="YL"/>
                    <input name="zoom_urls[]" type="url" disabled />
    
                    <label>Green</label>
                    <input name="blocks[]" type="checkbox" value="GR"/>
                    <input name="zoom_urls[]" type="url" disabled />
    
                    <label>Light Blue</label>
                    <input name="blocks[]" type="checkbox" value="LB"/>
                    <input name="zoom_urls[]" type="url" disabled />
    
                    <label>Dark Blue</label>
                    <input name="blocks[]" type="checkbox" value="DB"/>
                    <input name="zoom_urls[]" type="url" disabled />
    
                    <label>Purple</label>
                    <input name="blocks[]" type="checkbox" value="PR"/>
                    <input name="zoom_urls[]" type="url" disabled />
                </div>
            </form>
            <button type="submit" form="form">Go</button>
        </div>
        <script>
            const cookies = document.cookie.split('; ');
            const getCookie = (key, value) =>  cookies.reduce((prev, curr) => {
                    try {
                        const [ignore, result] = curr.match(new RegExp(`^${key}=(.*)$`));
                        if (result) {
                            return result;
                        }
                    } catch (error) {
                        // do nothing
                    }
                    return prev;
                }, value)
            const setCookie = (input, key) => {
                document.cookie = `${encodeURIComponent(key)}=${encodeURIComponent(input.value)}`;
            }
            const trackWithCookie = (key, value) => {
                const input = document.querySelector(`input[name="${key}"]`);
                input.value = getCookie(key, value);
                input.addEventListener('change', setCookie.bind(null, input, key));
                return input.value;
            }
            const start = new Date(trackWithCookie('start', (new Date()).toLocaleDateString('en-CA')));
            const end_extract = trackWithCookie('end_extract', (new Date(start.getTime() + start.getTimezoneOffset() * 60 * 1000 + 7 * 24 * 60 * 60 * 1000)).toLocaleDateString('en-CA'));
            trackWithCookie('end_schedule', end_extract);
            
            document.querySelector('input[name="start"]').addEventListener('change', start => {
                const end = document.querySelector('input[name="end_extract"]');
                if (start.value != '' && end.value == '') {
                    console.log(start.value);
                }
            })
            
            const toggleZoomUrl = zoomUrl => {
                zoomUrl.disabled = !zoomUrl.disabled;
                if (!zoomUrl.disabled && zoomUrl.value == '') {
                    let prev = undefined;
                    try {
                        Array.from(document.querySelectorAll('input[name="zoom_urls[]"]:not([disabled])'))
                            .forEach(sibling => {
                                if (sibling === zoomUrl) {
                                    zoomUrl.value = prev.value;
                                } else {
                                     prev = sibling;
                                }
                            });
                    } catch (error) {
                        // ignore
                    }
                }
            }
            Array.from(document.querySelectorAll('input[name="blocks[]"]')).forEach(checkbox => {
                checkbox.addEventListener('click', toggleZoomUrl.bind(null, checkbox.nextElementSibling));
            });
            
            const zoomUrls = Array.from(document.querySelectorAll('input[name="zoom_urls[]"]'));
            const initialWidth = zoomUrls[0].clientWidth;
            const resizeToFitUrl = (input) => {
                const test = document.createElement('div');
                test.classList.add('test');
                    document.body.appendChild(test);
                let width = initialWidth;
                zoomUrls.forEach(zoomUrl => {
                    test.innerText = zoomUrl.value;
                    width = Math.max(width, test.clientWidth);
                })
                test.remove();
                if (width > initialWidth) {
                    input.parentElement.style.gridTemplateColumns = `auto auto calc(${width}px + 1em)`;
                } else {
                    input.parentElement.style.gridTemplateColumns = 'auto auto 1fr';
                }
            }
            zoomUrls.forEach(zoomUrl => {
                zoomUrl.addEventListener('input', resizeToFitUrl.bind(null, zoomUrl));
            })
        </script>
    </body>
</html>